.promotion {
	&--primary {
		margin: 0 0 1rem;
	    padding: 1rem;
	    border: 1px solid rgba(10,10,10,.25);
	    border-radius: 0;
	    position: relative;
	    background-color: #fff;
	}
}