$white: #fff;
$white_smoke: #fefefe;


$dodger_blue: #2199e8;
$navy_blue: #1583cc;
$dark_blue: #0c4d78;

$suva_grey: #8a8a8a;
$grey: #fafafa;
$light_grey: #cacaca;
$dark_grey: #777;
$gainsboro: #e6e6e6;

$black: #0a0a0a;