.media-object {
	margin-bottom: 1rem;
	display: block;

	&__image {
		padding-right: 1rem;
	}

	&__title {
		font-size: 1.25rem;
	}

	&__price {
		color: $light_grey;
		line-height: 0;
	}

	&--padding {
		padding-left: .9375rem;
    	padding-right: .9375rem;
	}
}