* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-weight: 400;
}

blockquote,dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,li,ol,p,pre,td,th,ul{
  margin:0;
  padding:0
}
dl,ol,p,ul{
  margin-bottom:1rem
}
p{
  font-size:inherit
}
h1,h2,h3,h4,h5,h6{
  font-style:normal;
  color:inherit;
  margin-top:0;
  margin-bottom:.5rem;
  line-height:1.4;
  font-weight: 400;
}
a {
  text-decoration: none;
}
h1{
  font-size:3rem
}
h2{
  font-size:2.5rem
}
h3{
  font-size:1.9375rem
}
h4{
  font-size:1.5625rem
}
h5{
  font-size:1.25rem
}
h6{
  font-size:1rem
}
small {
    color: #cacaca;
    line-height: 0;
}