.breadcrumb {
    display: flex;
    padding: 0;

    &__item {
        display: inline-block;
        color: #0a0a0a;
        font-size: .7rem;
        cursor: default;
        text-transform: uppercase;
        padding: 0;

        &:not(:last-child)::after {
            color: #cacaca;
            content: "/";
            margin: 0 .75rem;
            position: relative;
            top: 1px;
            opacity: 1;
        }
    }

    &__show-for-sr {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
    }
}
