.tabs {
  position: relative;   
  clear: both;
  margin: 65px 0 25px;
  background: #FFF;
  min-height: 200px;
  &:after {
	clear: both;
	content: "*";
	position: absolute;
	top: 5px;
	right: 35px;
	font-size: 85px;
	color: #FFF;
  }
}
.tab {
	float: left;
  
    &--label {
		  background: #FFF; 
		  padding: 20px 30px; 
		  border: 1px solid #ccc; 
		  margin-left: -1px; 
		  position: relative;
		  left: 1px; 
		  top: -29px;
		  -webkit-transition: background-color .17s linear;
		  color: #2199e8;
		  cursor: pointer;
	}
	
	input[type=radio] {
		display: none;   
	}
	
	.content {
		  position: absolute;
		  top: 10px;
		  left: 0;
		  background: #FFF;
		  right: 0;
		  padding: 20px;
		  border: 1px solid #ccc; 
		  -webkit-transition: opacity .6s linear;
		  opacity: 0;
	}
	[type=radio]:checked ~ label {
		  background: #e6e6e6;
		  border-bottom: 1px solid #FFF;
		  z-index: 2;
	}
	[type=radio]:checked ~ label ~ .content {
		  z-index: 1;
		  opacity: 1;
	}	   
}