<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <script src="../scss/main.js"></script>
  </head>
  <body>
    

    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="row">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Yeti Store</li>
            <li class="has-submenu">
              <a href="#">One</a>
              <ul class="submenu menu vertical" data-submenu>
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
              </ul>
            </li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Top Bar -->
    <br>
    <!-- You can now combine a row and column if you just need a 12 column row -->
    <div class="container">
        <ul class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Features</a></li>
          <li class="disabled">Gene Splicing</li>
          <li>
            <span class="">Cloning</span> 
          </li>
        </ul>
    </div>

    <div class="css-product-grid container container--bordered">
      <div class="medium-columns product-main">
        <img class="product-main__image" src="http://placehold.it/650x350">
        <div class="thumbnails-row product-main__thumbnails">
          <div class="product-main__thumbnail">
            <img class="product-main__image" src="http://placehold.it/250x200">
          </div>
          <div class="product-main__thumbnail">
            <img class="product-main__image" src="http://placehold.it/250x200">
          </div>
          <div class="product-main__thumbnail">
            <img class="product-main__image" src="http://placehold.it/250x200">
          </div>
          <div class="product-main__thumbnail">
            <img class="product-main__image" src="http://placehold.it/250x200">
          </div>
        </div>
      </div>
      <div class="medium-columns product-details">
        <h3>My Awesome Product</h3>
        <p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in.</p>
        
        <div class="container form-field ">
          <label class="form-field__label">Size</label>
          <select class="form-field__select">
            <option value="husker">Small</option>
            <option value="starbuck">Medium</option>
            <option value="hotdog">Large</option>
            <option value="apollo">Yeti</option>
          </select>
        </div>

        <div class="container form-field">
            <label for="middle-label" class="form-field__label">Quantity</label>
            <input class="form-field__input" type="text" id="middle-label" placeholder="One fish two fish">
        </div>

        <a href="#" class="button expanded large">Buy Now</a>

        <div class="container social-buttons">
            <a class="button--grey button small">Facebook</a>
            <a class="button--grey button small">Twitter</a>
            <a class="button--grey  button small">Yo</a>
          </div>
        </div>
    </div>

    <div class="container">
      
      <div id="tabs" class="tabs">
        <input type="radio" name="tabs" id="toggle-tab1" checked="checked" />
        <input type="radio" name="tabs" id="toggle-tab2" />
        <div class="tabs-menu">
          <label for="toggle-tab1" class="tabs-title">Reviews</label>
          <label for="toggle-tab2" class="tabs-title">Similar Products</label>
        </div>


        <div class="tab" id="tab1">
          <h4>Reviews</h4>
          <div class="media-object">
              <div class="media-object__thumbnail">
                <img src="http://placehold.it/200x200">
              </div>
              <div class="media-object__section">
                  <h5>Mike Stevenson</h5>
                  <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
              </div>
          </div>
          <div class="media-object">
              <div class="media-object__thumbnail">
                <img src="http://placehold.it/200x200">
              </div>
              <div class="media-object__section">
                  <h5>Mike Stevenson</h5>
                  <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
              </div>
          </div>
          <div class="media-object">
              <div class="media-object__thumbnail">
                <img src="http://placehold.it/200x200">
              </div>
              <div class="media-object__section">
                  <h5>Mike Stevenson</h5>
                  <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
              </div>
          </div>
          <div class="media-object">
              <div class="media-object__thumbnail">
                <img src="http://placehold.it/200x200">
              </div>
              <div class="media-object__section">
                  <h5>Mike Stevenson</h5>
                  <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
              </div>
          </div>
          <label>
            My Review
          </label>
            <textarea class="form-field__textarea" placeholder="None"></textarea>
          <button class="button">Submit Review</button>
        </div>
        <div class="tab" id="tab2">
            <div class="media-object-grid">
              <div class="media-object">
                  <div class="media-object__thumbnail">
                    <img class="thumbnail" src="http://placehold.it/350x200">
                  </div>
                  <div class="media-object__section">
                    <h5>Other Product <small>$22</small></h5>
                    <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
                    <a href="#" class="button hollow tiny expanded">Buy Now</a>
                  </div>
              </div>
              <div class="media-object">
                  <div class="media-object__thumbnail">
                    <img class="thumbnail" src="http://placehold.it/350x200">
                  </div>
                  <div class="media-object__section">
                    <h5>Other Product <small>$22</small></h5>
                    <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
                    <a href="#" class="button hollow tiny expanded">Buy Now</a>
                  </div>
              </div>
              <div class="media-object">
                  <div class="media-object__thumbnail">
                    <img class="thumbnail" src="http://placehold.it/350x200">
                  </div>
                  <div class="media-object__section">
                    <h5>Other Product <small>$22</small></h5>
                    <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
                    <a href="#" class="button hollow tiny expanded">Buy Now</a>
                  </div>
              </div>
              <div class="media-object">
                  <div class="media-object__thumbnail">
                    <img class="thumbnail" src="http://placehold.it/350x200">
                  </div>
                  <div class="media-object__section">
                    <h5>Other Product <small>$22</small></h5>
                    <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
                    <a href="#" class="button hollow tiny expanded">Buy Now</a>
                  </div>
              </div>
              <div class="media-object">
                  <div class="media-object__thumbnail">
                    <img class="thumbnail" src="http://placehold.it/350x200">
                  </div>
                  <div class="media-object__section">
                    <h5>Other Product <small>$22</small></h5>
                    <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
                    <a href="#" class="button hollow tiny expanded">Buy Now</a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row column">
      
      <ul class="menu">
        <li>Yeti Store</li>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li class="float-right">Copyright 2016</li>
      </ul>
    </div>


    
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>


    