<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS | GRID</title>
    <script src="../scss/main.js"></script>
  </head>
  <body>

    <div class="css-grid">
      <div class="css-grid__promo"></div>
      <div class="css-grid__header"></div>
      <div class="css-grid__content"></div>
      <div class="css-grid__sidebar"></div>
      <div class="css-grid__footer"></div>
    </div>
   
  </body>
</html>
