@mixin button() {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all .25s ease-out;
  border: 1px solid transparent;
  border-radius: 0;
  padding: .85em 1em;
  margin: 0 1rem 1rem 0;
  font-size: .9rem;
  background: #2199e8;
  color: #fff;

  &.expanded {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  &.large {
    font-size: 1.25rem;
  }
  &.small {
    font-size: .75rem;
    width: 33%;
    margin: 0;
  }

  &.hollow {
    border: 1px solid #2199e8;
    background: 0 0;
    color: #2199e8;
    &:focus, &:hover { 
      border-color: #0c4d78;
      color: #0c4d78;
      background: 0 0;
    } 
  }
  &:hover {
    background: #1583cc;
  }
  &.tiny{
    font-size:.6rem
}
}