* {
	box-sizing: border-box;
    margin: 0;
	padding: 0;
}

body {
    margin: 0;
	padding: 0;
    line-height: 1.5;
    color: #0a0a0a;
    background: #fefefe;
    -webkit-font-smoothing: antialiased;  
}

ul {
	list-style: none;
}