<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SCSS | Welcome</title>
    <script src="../scss/main.js"></script>
  </head>
  <body>
    <div class="flex-grid container">
      <div class="product grid-col-2">
        <img class="product-mini__thumbnail" src="http://placehold.it/650x350">
        <div class="flex-grid">
          <div class="product-mini">
            <img class="product-mini__thumbnail" src="http://placehold.it/250x200">
          </div>
          <div class="product-mini">
            <img class="product-mini__thumbnail" src="http://placehold.it/250x200">
          </div>
          <div class="product-mini">
            <img class="product-mini__thumbnail" src="http://placehold.it/250x200">
          </div>
          <div class="product-mini">
            <img class="product-mini__thumbnail" src="http://placehold.it/250x200">
          </div>
        </div>
      </div>
      <div class="product product-col-4">
        <h3 class="product-title">My Awesome Product</h3>
        <p class="product-description">Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in.</p>

        <label>Size
          <select>
            <option value="husker">Small</option>
            <option value="starbuck">Medium</option>
            <option value="hotdog">Large</option>
            <option value="apollo">Yeti</option>
          </select>
        </label>

        <div class="flex-grid container">
          <div class="product-small-3">
            <label for="middle-label" class="product-lable">Quantity</label>
          </div>
          <div class="product-small-9">
            <input type="text" id="middle-label" class="product-small-label" placeholder="One fish two fish">
          </div>
        </div>

        <a href="#" class="button large expanded">Buy Now</a>

        <div class="flex-grid expanded button-group">
            <a class="button-secondary">Facebook</a>
            <a class="button-secondary">Twitter</a>
            <a class="button-secondary">Yo</a>
          </div>
        </div>
    </div>

    <div class="container">
      <div class="content  flex-grid">
        <input id="tab-one" type="radio" name="grp" checked="checked"/>
        <label for="tab-one" class="tab-label">Reviews</label>
        <div class="content-panel" id="panel1">
          <h4 class="content-title">Reviews</h4>
          <div class="content-object">
            <div class="content-object-section">
              <img class="content-thumbnail" src="http://placehold.it/200x200">
            </div>
            <div class="content-object-section">
              <h5>Mike Stevenson</h5>
              <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
            </div>
          </div>
          <div class="content-object">
            <div class="content-object-section">
              <img class="content-thumbnail" src="http://placehold.it/200x200">
            </div>
            <div class="content-object-section">
              <h5>Mike Stevenson</h5>
              <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
            </div>
          </div>
          <div class="content-object">
            <div class="content-object-section">
              <img class="content-thumbnail" src="http://placehold.it/200x200">
            </div>
            <div class="content-object-section">
              <h5>Mike Stevenson</h5>
              <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
            </div>
          </div>
          <label>
            My Review
            <textarea placeholder="None"></textarea>
          </label>
          <button class="button button-content">Submit Review</button>
        </div>
        <input id="tab-two" type="radio" name="grp" />
        <label for="tab-two" class="tab-label">Similar Products</label>
        <div class="content-panel" id="panel2">
          <div class="flex-grid">
            <div class="column">
              <img class="product-mini__thumbnail" src="http://placehold.it/350x200">
              <h5>Other Product <small class="product-small-title">$22</small></h5>
              <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
              <a href="#" class="button hollow tiny expanded">Buy Now</a>
            </div>
            <div class="column">
              <img class="product-mini__thumbnail" src="http://placehold.it/350x200">
              <h5>Other Product <small class="product-small-title">$22</small></h5>
              <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
              <a href="#" class="button hollow tiny expanded">Buy Now</a>
            </div>
            <div class="column">
              <img class="product-mini__thumbnail" src="http://placehold.it/350x200">
              <h5>Other Product <small class="product-small-title">$22</small></h5>
              <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
              <a href="#" class="button hollow tiny expanded">Buy Now</a>
            </div>
            <div class="column">
              <img class="product-mini__thumbnail" src="http://placehold.it/350x200">
              <h5>Other Product <small class="product-small-title">$22</small></h5>
              <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
              <a href="#" class="button hollow tiny expanded">Buy Now</a>
            </div>
            <div class="column">
              <img class="product-mini__thumbnail" src="http://placehold.it/350x200">
              <h5>Other Product <small class="product-small-title">$22</small></h5>
              <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
              <a href="#" class="button hollow tiny expanded">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>


    