.flex-grid {
  display: flex;
  justify-content: space-between;
}

@for $number from 1 through 10 {
	$width : $number;
	.width-#{$width*10} {
		width: percentage($width/10);
	}
}

@for $number from 1 through 10 {
  $padding : $number*10;
  .padding-#{$padding} {
    padding: #{$padding}px;
  }
}

.css-grid {
  min-height: 100vh;
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 25px auto 2fr 45px;
  grid-template-areas: 
    ". . . promo"
    "header header header header"
    "sidebar content content content"
    ". footer footer .";

  &__header {
    grid-area: header;
    background: blanchedalmond;
  }

  &__content {
    grid-area: content;
    background: aliceblue;
  }

  &__footer {
    grid-area: footer;
    background: dodgerblue;
  }

  &__sidebar {
    grid-area: sidebar;
    background: tomato;
  }

  &__promo {
    grid-area: promo;
    background: chocolate;
  }
}